.devise {
  padding-top: 10px;
  width: 300px;
  color: white;
  height: 100vh;
}

.devise-title {
  text-align: center;
  padding-bottom: 10px;
}

.devise-button {
  padding-top: 10px;
  text-align: center;
  justify-content: right;
  color: white;
}

.devise-link-button {
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: space-between;
}