<div class="gravata-container">
  <div class="home-heading">
    <h2 class='heading-title'>Hello!</h2>
    <p class="heading-paragraph">I'm  <span style="font-weight:bold">Yuri Gravatá</span> and this is a my Test-Web-App!</p>
    <p class="heading-paragraph">This app allows you to upload your sales file on '.tsv' format.</p>

  </div>

  <div class="instructions-heading">
    <div class="home-buttons">
      <% if user_signed_in? %>
        <%= link_to "Go to Sales", company_partial_sales_path, class: "btn input-buttom" %>
      <% end %>
    </div>
    <h2 class="instructions-title">Instructions:</h2>
    <p class="instructions-paragraph">You're a branch selling consultant and need to upload your branch results to the company system.</p>
    <p class="instructions-paragraph">For that you need to:</p>
    <ul class="instructions-list">
      <li class="instructions-item"><span>1.</span> Sign-up / Login;</p></li>
      <li class="instructions-item"><span>2.</span> Acess sales page;</p></li>
      <li class="instructions-item"><span>3.</span> Upload your sales file;</p></li>
    </ul>
    <p class="instructions-paragraph">You can (if you need):</p>
    <ul class="instructions-list">
      <li class="instructions-item"><span>4.</span> Remove your last input entirely, clicking on the trash can next to "Your last input gross income";</p></li>
      <li class="instructions-item"><span>5.</span> Remove one of your sales, clicking on the trash can next to that sale;</p></li>
    </ul>
  </div>
  <div class="home-buttons">
    <% unless user_signed_in? %>
      <%= link_to "Login", new_user_session_path, class: "btn input-buttom" %>
    <% end %>
  </div>

</div>
